
{{#each runs as |run|}}

<!-- <div class="row"> -->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/9FGzzh1.png" alt="...">
      <div class="caption">
        <!-- <h3>Thumbnail label</h3> -->
        <p>Distance: {{run.distance}} miles</p>
        <p>Time: {{run.timeTaken}} minutes</p>
        <p>Average Pace: {{run.avgPace}} min/mile</p>
        <p>Date: {{run.createdAt}}</p>
        <p>Owner: {{run._owner}}</p>
        <button id="delete-run" class="btn btn-danger btn-sm" data-id="{{run._id}}">
          <i class="fa fa-trash"></i></button>
        <button id="show-one-run" class="btn btn-default btn-sm" data-id="{{run._id}}">
          Show Run Details</button>
      </div>
    </div>
  </div>
<!-- </div> -->
{{/each}}
