{{#each runs as |run|}}
<div class="panel panel-default">
  <div class="overlay">
    <h4>People Who Liked Your Run</h4>
    <ul>
    {{#each likes as |like|}}
    <li class="like-hide">{{like._ownerFullName}}</li>
    {{/each}}
  </ul>
  </div>
  <div class="overlay2">
    <button type="button" class="close-like-view">
<span>&times;</span>
</button>
    <h4>People Who Liked Your Run</h4>
    <ul>
    {{#each likes as |like|}}
    <li class="like-hide">{{like._ownerFullName}}</li>
    {{/each}}
  </ul>
  </div>
  <div class="panel-heading">
    <div class="col-sm-2">
      <img src="https://i.imgur.com/MIG65Br.png" height="62" width="62">
    </div>
    <div class="col-sm-6">
      <h4>
      <strong>{{run.ownerName}}</strong> ran
      <strong>{{run.distance}}</strong> miles
    </h4>
      <p>
      {{#formatDate run.date}}
             {{/formatDate}}
      </p>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-success btn-sm" id="show-one-run" data-id="{{run._id}}"
        data-toggle="modal" data-target="#show-run-modal">
        <i class="fa fa-map-marker"></i> Map</button>
      <button class="btn btn-success btn-sm" id="like-friends-run" data-id="{{run._id}}">
        <i class="fa fa-heart"></i></button>
        <button class="btn btn-success btn-sm" id="friends-like-counter" data-id="{{run._id}}"
        data-toggle="modal" data-target="#friends-like-modal">{{run.likes.length}}</button>
      </div>
    </div>

  <div class="panel-body">
  <table class="table">
    <tr>
     <th><img src="https://i.imgur.com/OpFcpiP.png" height="45" width="45"></th>
     <th><img src="https://i.imgur.com/6pjNUsc.png" height="45" width="45"></th>
     <th><img src="https://i.imgur.com/e7mkp7y.png" height="45" width="45"></th>
   </tr>
    <tr>
     <td><h4><strong>{{run.distance}}</strong></h4></td>
     <td><h4><strong>{{run.timeTaken}}</strong></h4></td>
     <td><h4><strong>{{run.avgPace}}</strong></h4></td>
   </tr>
    <tr>
     <td><h6>DISTANCE (MI)</h6></td>
     <td><h6>MINUTES</h6></td>
     <td><h6>AVERAGE PACE</h6></td>
   </tr>
  </table>
</div>
</div>
{{/each}}
